<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>
<body>
  <a href="/top">トップに戻る</a>
  <form action="/sets" method="POST">
    <div>
        セット名:<input name="set_name"></input>
    </div>
    <div>
        <input type="submit" value="問題作成">
    </div>
  </form>

  <h1>セット一覧</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}

  <h2>マイ問題セット</h2>
    <table>
    <tr>
      <th >セット名</th>
      <th >作成者名</th>
      <th>学習回数</th>
    </tr>
    {% for set in s_sets %}
    <tr>
      <td>
        <a href="{{ url_for('sets.set_detail', set_id=set.id) }}">{{ set.name }}</a>
      </td>
      <td>{{ set.user.name }}</td>
      <td><a href="{{ url_for('sets.set_start', set_id=set.id) }}">始める</a></td>
      <td><a href="{{ url_for('sets.set_edit', set_id=set.id) }}">編集</a></td>
      <td>
        <form action="{{ url_for('sets.delete_set', set_id=set.id) }}" method="POST">
          <input type="submit" value="削除">
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>

    <h2>教員の問題セット</h2>
    <table>
      <tr>
        <th >セット名</th>
        <th >作成者名</th>
      </tr>
      {% for set in t_sets %}
      <tr>
        <td>{{ set.name }}</td>
        <td>{{ set.user.name }}</td>
        <td><a href="{{ url_for('sets.set_start', set_id=set.id) }}">始める</a></td>
      </tr>
      {% endfor %}
    </table>
</body>
</html>