<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>
<body>
  <a href="/top">トップに戻る</a>
  <form action="/sets" method="POST">
    <div>
        セット名:<input name="set_name"></input>
    </div>
    <div>
        <input type="submit" value="問題作成">
    </div>
  </form>

  <h1>セット一覧</h1>
    <table>
    <tr>
      <th >セット名</th>
      <th >作成者ID</th>
    </tr>
    {% for set in sets %}
    <tr>
      <td>
        <a href="{{ url_for('sets.set_detail', set_id=set.id) }}">{{ set.name }}</a>
      </td>
      <td>{{ set.user_id }}</td>
      <td>
        <form action="{{ url_for('sets.delete_set', set_id=set.id) }}" method="POST">
          <input type="submit" value="削除">
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>