<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>{{ set.name }}</title>
</head>
<body>
    <a href="{{ url_for('sets.set_list') }}">問題一覧に戻る</a>
    <h1>{{ set.name }}</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
    <a href="{{ url_for('sets.set_edit', set_id=set.id) }}">編集</a>
    <a href="{{ url_for('sets.set_start', set_id=set.id) }}">始める</a>
</body>
</html>
