@charset "UTF-8";
.head {
    text-align: center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

h1 {
    padding: 20px 50px 50px 50px;
}

body{
    width: 94%;
    height: auto;
    margin: 3%;
    border: 2px solid #000;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
}


.styled {
    border: 0;
    line-height: 2.25;
    padding: 0 30px;
    font-size: 1.25rem;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color: tomato;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: tomato;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.trim-image-to-circle {
    background-image: url("../image/user-icon.jpg");  /* 表示する画像 */
    width:  170px;       /* ※縦横を同値に */
    height: 170px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
    border: 3px solid grey; /* 枠線を付加 */
}

.styled2 {
    border: 0;
    line-height: 2.25;
    padding: 0 30px;
    font-size: 1.25rem;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color: #fff;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin: 15px;
    width: 20%;
    height: 60px;
}

.styled2:hover {
    background-color: grey;
}

.styled2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}