<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" href="{{url_for('static', filename='login_style.css')}}">
</head>
<body>

  <form action="/login" method="post" class="form" > <!-- action 送信先URL method データの送信方法 -->

    <h1 class="head">ログイン</h1>

    <div class="item">
      Email<input name="mail" type="email" placeholder="info@example.com"></input>
    </div>

    <div class="item">
      Password (max 10 characters)<input name="password" type="password" placeholder="パスワードを入力" maxlength="10"></input>
    </div>

    <input type="submit" class="styled" value="ログイン">
    <p>または、<a href="/user/new">アカウント作成</a></p>

  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
</body>
</html>