<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='top_style.css')}}">
  <link rel="image" href="{{url_for('static', filename='user-icon.jpg')}}">
</head>
<body>
  <button onclick="location.href='/logout'" class="styled" type="button">ログアウト</button><br>
  
  <p class="trim-image-to-circle"></p><br>
  <h1>{{ user.name }}</h1>
  
  <button onclick="location.href='/teachers'" class="styled2" type="button">教員一覧</button><br>
  <button onclick="location.href='/sets'" class="styled2" type="button">学習セット一覧</button><br>

</body>
</html>