<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/top_style.css">
  <link rel="image" href="image/user-icon.jpg">
</head>
<body>
  <button class="styled"type="button">ログアウト</button><br>
  
  <p class="trim-image-to-circle"></p><br>
  <h1>{{ user.name }}</h1>
  <button class="styled2"type="button">学習セット作成</button><br>
  <button class="styled2"type="button">学習セット一覧</button><br>


</body>
</html>